.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    background-color: #f7dab5c9;

}

.Nome-Padoca{
   padding-left: 7em; 
}

.Nome-Padoca h1{
    font-family: Lobster;
    font-size: 2.5em;
}

.Telas{
    padding-right: 4.5em;
}

.Telas a{
    font-family: Signika Negative;
    font-size: 1.5em;
    
    padding: 0em 0.5em;
}

.Telas :hover{
    transform: scale(1.2);
}

.cardapio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 25vh;
    margin-top: 5em;
}

.formatacao-cardapio h2{
    font-family:Signika Negative ;
    font-size: 2em;
    padding-bottom: 1em ;
}

.cardapio-2{
    margin-top: 3em;
}

.cardapio-2 h2{
    font-family:Signika Negative ;
    font-size: 2em;
    padding-top: 1em;
}

.finalizar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.xicara{
    height: 26em;
    padding-bottom: 3em;
}